<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="sql/noticeSQL.xml"/>
		<mapper resource="sql/pageSQL.xml"/>
		<mapper resource="sql/faqSQL.xml"/>
		<mapper resource="sql/companySQL.xml"/>
		<mapper resource="sql/eventSQL.xml"/>
		<mapper resource="sql/hotelfindSQL.xml"/>
		<mapper resource="sql/hot_comment_gradeSQL.xml"/>
	</mappers>
</configuration>